.Table_Container {
    max-width: 1245px;
    width: 100vw;
    margin: auto;
    box-sizing: border-box;
}

.Table_Box {
    border-collapse: collapse;
    width: 100%;
}

.Table_Box tr {
    border-bottom: 1pt solid #C2C2C2 ;
}

.Table_Header th {
    font-size: 0.9rem;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    @media only screen and (max-width:550px) {
        
        font-size: 0.7rem;
    }
    button {
        background-color: transparent;
        border: none;
        padding: 0%;
        cursor: pointer;
    }
}

.Table_Header {
    color: #C2C2C2;
    font-weight: lighter;

    button {
        font-size: 16px;
        margin-left: 5px;
    }
}

.Table_Body {
    text-align: left;
    color: #003054;
    font-weight: bold;

    tr {
        height: 50px;
    }
    td {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media only screen and (max-width:550px) {
        
        tr {
            font-size: 0.7rem;
        }
        th {
            font-size: 16px;
        }
       
    }
    @media only screen and (max-width:400px) {
        
        tr {
            font-size: 0.6rem;
        }
        th {
            font-size: 14px;
        }
       
    }
}