.SearchButton {
    height: 32px;
    border: none;
    border-radius: 0%;
    background-color: #E40321;
    width: 11vw;
    color: white;
    font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
    .SearchButton {
        width: 17vw;
    }
}
