.Header {
    background-color: #003054;
    width: 100vw;
    height: 30vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    p {
        color: white;
        font-size: 1rem;
    }
    .Header_Container {
        max-width: 1245px;
        width: 100vw;
        margin: auto;
        box-sizing: border-box;
    }

}



