.Searchbar_Container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;

    .Searchbar-loading {
        display: inline-block;
        width: 40px;
        height: 40px;

        &:after {
            content: " ";
            display: block;
            width: 40px;
            height: 40px;
            margin-left: 10px;
            border-radius: 50%;
            border: 6px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
            @media only screen and (max-width: 800px) {
                &::after{
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }

}

@media only screen and (max-width: 550px) {
    .Searchbar-loading{
        width: 20px;
        height: 20px;
        &:after {
            width: 20px;
            height: 20px;
        }
    }
}


.Searchbar-button {
    height: 42px;
    border: none;
    border-radius: 0%;
    background-color: #E40321;
    width: 11vw;
    color: white;
    font-size: 0.8rem;
}

.Searchbar-input {
    height: 40px;
    width: 32vw;
    border: none;
    font-size: 16px;
    &:focus {
        outline: none;
    }
}

.Searchbar-error {
    color: red;
    padding-left: 10px;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }







@media only screen and (max-width: 800px) {
    .Searchbar-input {
        width: 50vw;
    }
}

@media only screen and (max-width: 450px) {
    .Searchbar-input {
        width: 50vw;
    }
}


@media only screen and (max-width: 600px) {
    .Searchbar-button {
        width: 17vw;
    }
}